@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext");
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }

body {
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  top: 0; }

a {
  text-decoration: none;
  padding: 0px; }

a:focus {
  outline: none; }

li {
  list-style: none; }

header {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  height: 100px;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 101;
  background: #ffffff; }
  header nav {
    margin: 0 auto;
    height: 100px;
    max-width: 1440px;
    padding: 17px 50px; }
    header nav .navbar-collapse {
      height: 100px;
      line-height: 100px;
      background: #ffffff; }
      header nav .navbar-collapse ul {
        width: 100%;
        height: 100px;
        line-height: 100px;
        justify-content: flex-end;
        padding-right: 45px; }
        header nav .navbar-collapse ul .nav-link {
          padding: 0; }
        header nav .navbar-collapse ul li {
          height: 100px;
          line-height: 100px;
          font-family: "Lato", sans-serif;
          font-weight: bold;
          font-size: 14px;
          color: #2D5898;
          letter-spacing: 0.5px;
          padding: 0 10px;
          margin: 0;
          transition: 0.3s; }
          header nav .navbar-collapse ul li:hover {
            background: #FFDA1A;
            transition: 0.3s; }
      header nav .navbar-collapse .navbar-text {
        height: 100px;
        padding: 0;
        transition: 0.4s; }
        header nav .navbar-collapse .navbar-text:hover {
          color: #4990E2;
          transform: rotate(360deg);
          transition: 0.4s;
          cursor: grab; }
        header nav .navbar-collapse .navbar-text i {
          font-weight: bold;
          line-height: 100px;
          font-size: 15.5px;
          color: #2D5898; }

.socialmedia-box {
  position: fixed;
  right: 0;
  top: 130px;
  background: #2D5898;
  height: 110px;
  width: 60px;
  border-radius: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 100; }
  .socialmedia-box .socialmedia-box-fb,
  .socialmedia-box .socialmedia-box-instagram {
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 50%;
    transition: 0.3s;
    border: 2px solid #2D5898; }
    .socialmedia-box .socialmedia-box-fb:hover,
    .socialmedia-box .socialmedia-box-instagram:hover {
      background: #2D5898;
      border: 2px solid #ffffff;
      transition: 0.3s;
      box-sizing: border-box; }
    .socialmedia-box .socialmedia-box-fb i,
    .socialmedia-box .socialmedia-box-instagram i {
      font-size: 28px;
      color: #2D5898;
      line-height: 36px;
      display: flex;
      justify-content: center;
      align-content: center;
      transition: 0.3s; }
      .socialmedia-box .socialmedia-box-fb i:hover,
      .socialmedia-box .socialmedia-box-instagram i:hover {
        color: #ffffff;
        transition: 0.3s; }

main {
  margin: 0 auto;
  width: 100%;
  margin-top: 100px;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  padding: 0 15px; }
  main .row {
    padding: 0;
    margin: 0; }
  main .post-menu {
    padding: 0;
    color: #9B9B9B; }
    main .post-menu ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: 30px 15px 5px 15px;
      margin: 0; }
      main .post-menu ul a {
        color: #9B9B9B; }
        main .post-menu ul a:hover {
          color: #2D5898;
          text-decoration: none; }
      main .post-menu ul li {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        letter-spacing: 0.5px;
        padding-right: 5px;
        line-height: 16px; }
  main h1 {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #4990E2;
    letter-spacing: 1.43px;
    padding: 0;
    padding-bottom: 20px; }
  main .post-article {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row; }
    main .post-article .two-block {
      display: flex;
      justify-content: space-between;
      width: 100%; }
    main .post-article article {
      width: 100%; }
      main .post-article article .post-img {
        max-width: 962px;
        width: 100%;
        background-size: cover;
        margin-bottom: 30px;
        height: 400px;
        background-image: url(../img/foto1.jpg); }
        main .post-article article .post-img img {
          max-width: 962px;
          width: 100%;
          height: 400px;
          font-family: "object-fit: contain;"; }
      main .post-article article .post-description {
        max-width: 962px;
        font-family: "Lato", sans-serif;
        font-size: 16px;
        color: #000000;
        letter-spacing: 0.57px;
        line-height: 22px;
        text-align: justify; }
        main .post-article article .post-description .font-bold {
          font-weight: bold; }
    main .post-article aside {
      width: 100%;
      max-width: 304px; }
      main .post-article aside .aside-info1 {
        width: 100%;
        max-width: 304px;
        border: 4px solid #DDDDDD;
        border-bottom: none;
        box-sizing: border-box;
        padding: 32px; }
      main .post-article aside h3 {
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        letter-spacing: 0.57px;
        padding-bottom: 25px;
        margin: 0; }
      main .post-article aside h4 {
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #030303;
        letter-spacing: 0;
        line-height: 22px;
        margin: 0; }
      main .post-article aside p {
        font-family: "Lato", sans-serif;
        font-size: 16px;
        color: #030303;
        letter-spacing: 0;
        line-height: 22px;
        margin: 0; }
      main .post-article aside .aside-map {
        width: 100%;
        max-width: 354px;
        height: 169px;
        padding: 0;
        border: 0; }
      main .post-article aside .aside-info2 {
        width: 100%;
        max-width: 304px;
        border: 4px solid #DDDDDD;
        border-top: none;
        box-sizing: border-box;
        padding: 32px; }
        main .post-article aside .aside-info2 .aside-button {
          margin: 0 auto;
          max-width: 244px;
          min-width: 120px;
          width: 100%;
          height: 40px;
          background: #FFDA1A;
          border-radius: 100px;
          font-family: "Lato", sans-serif;
          font-weight: bold;
          font-size: 14px;
          color: #2D5898;
          margin-bottom: 25px;
          letter-spacing: 0.5px;
          line-height: 17px;
          display: flex;
          justify-content: center;
          text-align: center;
          border: none;
          transition: 0.3s; }
          main .post-article aside .aside-info2 .aside-button:hover {
            color: #FFDA1A;
            background: #2D5898;
            transition: 0.3s; }
        main .post-article aside .aside-info2 .aside-info2-sm {
          display: flex;
          flex-direction: row;
          justify-content: center; }
          main .post-article aside .aside-info2 .aside-info2-sm .box-sm {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px solid #2D5898;
            box-sizing: border-box;
            background: #2D5898;
            margin: 5px; }
            main .post-article aside .aside-info2 .aside-info2-sm .box-sm:hover {
              background: #ffffff;
              color: #2D5898; }
            main .post-article aside .aside-info2 .aside-info2-sm .box-sm i {
              display: flex;
              justify-content: center;
              width: 26px;
              color: #ffffff;
              font-size: 16px;
              line-height: 26px; }
              main .post-article aside .aside-info2 .aside-info2-sm .box-sm i:hover {
                color: #2D5898; }

.boxes-articles .boxes {
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 70px; }
  .boxes-articles .boxes .boxes-topic {
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: #4990E2;
    letter-spacing: 1.43px;
    line-height: 48px;
    padding-top: 75px;
    padding-bottom: 30px; }
  .boxes-articles .boxes .col3-inside {
    max-width: 304px;
    width: 100%;
    position: relative;
    top: 0; }
    .boxes-articles .boxes .col3-inside:hover .news1-box-description .news-hidden {
      max-height: 45px;
      margin-top: 10px; }
    .boxes-articles .boxes .col3-inside:hover .news1-box-description .news-hidden2 {
      max-height: 100px; }
    .boxes-articles .boxes .col3-inside .box-news1-img {
      max-width: 304px;
      max-height: 304px;
      width: 100%; }
    .boxes-articles .boxes .col3-inside .news1-box-description {
      width: 100%;
      max-width: 304px;
      position: absolute;
      bottom: 0;
      padding: 10px 30px;
      background-image: -webkit-linear-gradient(rgba(45, 88, 152, 0) 0%, rgba(45, 88, 152, 0.8) 38%);
      background-image: -o-linear-gradient(rgba(45, 88, 152, 0) 0%, rgba(45, 88, 152, 0.8) 38%);
      background-image: linear-gradient(rgba(45, 88, 152, 0) 0%, rgba(45, 88, 152, 0.8) 38%);
      max-height: 100%; }
      .boxes-articles .boxes .col3-inside .news1-box-description .news-date {
        opacity: 0.8;
        font-family: "Lato", sans-serif;
        font-size: 18px;
        color: #ffffff;
        letter-spacing: 0;
        line-height: 23px; }
      .boxes-articles .boxes .col3-inside .news1-box-description .news-topic {
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: 24px;
        color: #ffffff;
        letter-spacing: 0;
        line-height: 23px; }
      .boxes-articles .boxes .col3-inside .news1-box-description .news-hidden {
        transition: 0.3s;
        margin: 0;
        font-size: 14px;
        color: white;
        letter-spacing: 0;
        max-width: 304px;
        max-height: 0px;
        margin-top: 0px;
        overflow: hidden;
        transition-property: max-height, margin-top;
        transition-duration: 0.1s, 0.1s;
        transition-timing-function: linear, ease-in-out;
        transition-delay: 0.1s; }
      .boxes-articles .boxes .col3-inside .news1-box-description .icons {
        width: 100%;
        display: flex;
        flex-direction: row; }
        .boxes-articles .boxes .col3-inside .news1-box-description .icons .single-icon {
          width: 100%; }
          .boxes-articles .boxes .col3-inside .news1-box-description .icons .single-icon object {
            float: left;
            padding-right: 5px;
            display: inline-block; }
          .boxes-articles .boxes .col3-inside .news1-box-description .icons .single-icon .news-icon {
            font-size: 14px;
            color: #FFDA1A;
            letter-spacing: 0;
            line-height: 17px;
            margin: 0;
            float: left;
            display: inline-block; }
          .boxes-articles .boxes .col3-inside .news1-box-description .icons .single-icon .news-icon2 {
            font-size: 14px;
            color: #FFDA1A;
            letter-spacing: 0;
            line-height: 17px;
            margin: 0; }
      .boxes-articles .boxes .col3-inside .news1-box-description .news-hidden2 {
        transition: 0.15s;
        margin: 0;
        line-height: 0px;
        font-size: 14px;
        letter-spacing: 0;
        padding: 0;
        max-width: 304px;
        max-height: 0px;
        margin-top: 0px;
        overflow: hidden;
        transition-property: max-height, margin-top;
        transition-duration: 0.1s, 0.1s;
        transition-timing-function: linear, ease-in-out;
        transition-delay: 0.1s; }
        .boxes-articles .boxes .col3-inside .news1-box-description .news-hidden2 .single-icon2 {
          width: 100%;
          padding-top: 10px; }
          .boxes-articles .boxes .col3-inside .news1-box-description .news-hidden2 .single-icon2 object {
            transition: 0.4s;
            margin: 0;
            padding: 0;
            padding-right: 5px;
            display: inline-block; }
          .boxes-articles .boxes .col3-inside .news1-box-description .news-hidden2 .single-icon2 .news-icon3 {
            font-size: 14px;
            color: #FFDA1A;
            letter-spacing: 0;
            line-height: 17px;
            transition: 0.4s;
            margin: 0;
            padding: 0;
            display: inline-block; }
          .boxes-articles .boxes .col3-inside .news1-box-description .news-hidden2 .single-icon2 button {
            float: right;
            display: inline-block;
            width: 100px;
            height: 30px;
            background-color: #FFDA1A;
            border: none;
            border-radius: 100px;
            font-size: 12px;
            color: #4990E2;
            letter-spacing: 0;
            transition: 0.4s;
            padding: 0;
            border: 1px solid #FFDA1A;
            text-decoration: none; }
            .boxes-articles .boxes .col3-inside .news1-box-description .news-hidden2 .single-icon2 button:hover {
              border: 1px solid #4990E2;
              background: #4990E2; }
              .boxes-articles .boxes .col3-inside .news1-box-description .news-hidden2 .single-icon2 button:hover a {
                text-decoration: none;
                color: #FFDA1A; }
    .boxes-articles .boxes .col3-inside .news2-box-description {
      position: absolute;
      top: 0;
      padding: 10px 30px;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 218, 26, 0.85);
      transition: 0.3s;
      max-height: 100%; }
      .boxes-articles .boxes .col3-inside .news2-box-description img {
        margin-top: 20%;
        margin-bottom: 10px;
        filter: invert(0.7);
        transition: 0.3s; }
      .boxes-articles .boxes .col3-inside .news2-box-description .news-search {
        width: 80%;
        font-weight: bold;
        font-size: 24px;
        color: #2D5898;
        letter-spacing: 0;
        transition: 0.3s; }

.slider-logos {
  width: 100%;
  padding-top: 45px;
  padding-bottom: 45px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  top: 0; }
  .slider-logos .gray-line {
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px; }
  .slider-logos .logos {
    width: 100%;
    max-width: 1440px; }

.slidelist {
  height: 120px;
  margin-bottom: 70px;
  padding-top: 50px;
  padding-bottom: 60px;
  border-top: 1px solid #ddd; }

.slickinner ul {
  list-style: none; }
  .slickinner ul li {
    float: left;
    margin: 0; }
    .slickinner ul li img {
      height: 86px; }

.slide1 img {
  height: 86px; }

.slide2 img {
  height: 86px; }

.slick-slide .inner {
  margin: 0 0px; }

#slideImg {
  position: relative;
  margin: 0 auto;
  height: 86px; }
  #slideImg .rotate-prev {
    display: none; }
  #slideImg .slide1, #slideImg .slide2 {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0; }

footer {
  margin: 0 auto;
  background: #000000;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.5px;
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 50px; }
  footer .footer-bocks {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto; }
    footer .footer-bocks .foot-1 ul {
      padding: 0; }
    footer .footer-bocks .foot-1 a {
      color: #ffffff;
      transition: 0.3s; }
      footer .footer-bocks .foot-1 a:hover {
        color: #FFDA1A;
        text-decoration: none;
        transition: 0.3s; }
    footer .footer-bocks .foot-1 i {
      font-weight: bold;
      transition: 0.3s; }
      footer .footer-bocks .foot-1 i:hover {
        transition: 0.3s;
        color: #FFDA1A;
        transform: rotate(360deg); }
    footer .footer-bocks .foot-2 ul {
      padding: 0; }
      footer .footer-bocks .foot-2 ul li .box-for-icon {
        display: inline-block;
        width: 20px;
        text-align: center; }
      footer .footer-bocks .foot-2 ul li i {
        color: #FFDA1A; }
      footer .footer-bocks .foot-2 ul li a {
        color: #ffffff;
        transition: 0.3s; }
        footer .footer-bocks .foot-2 ul li a:hover {
          text-decoration: none;
          color: #FFDA1A;
          transition: 0.3s; }
    footer .footer-bocks .foot-3 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      padding-left: 50px; }
      footer .footer-bocks .foot-3 ul {
        padding: 0; }
        footer .footer-bocks .foot-3 ul a {
          color: #FFDA1A;
          text-decoration: none; }
      footer .footer-bocks .foot-3 h6 {
        padding-top: 85px;
        font-family: "Lato", sans-serif;
        font-size: 14px;
        color: #9B9B9B;
        letter-spacing: 0.5px;
        line-height: 17px; }

@media screen and (max-width: 1199px) {
  .socialmedia-box {
    position: fixed;
    top: 110px; }

  main .post-article aside .aside-info1 {
    padding: 32px 20px; }
  main .post-article aside .aside-info2 {
    padding: 32px 20px; }

  .boxes-articles .boxes .col-lg-3 {
    min-width: 304px; }

  footer .footer-bocks .foot-3 h6 {
    font-size: 13px; } }
@media screen and (max-width: 991px) {
  header {
    max-height: 100%; }
    header nav {
      max-height: 100%; }
      header nav .navbar-collapse {
        max-height: 100%;
        line-height: 50px; }
        header nav .navbar-collapse ul {
          width: 100%;
          max-height: 100%;
          line-height: 50px;
          display: block;
          padding-right: 0px; }
          header nav .navbar-collapse ul li {
            height: 40px;
            line-height: 40px;
            background: #fcfcfc;
            border: 1px solid rgba(0, 0, 0, 0.1); }
        header nav .navbar-collapse .navbar-text {
          display: none; }

  main .post-article article .post-img {
    height: 300px; }
    main .post-article article .post-img img {
      height: 300px; }

  .boxes-articles .boxes .col-md-4 {
    margin-bottom: 20px; } }
@media screen and (max-width: 767px) {
  main h1 {
    font-size: 30px; }
  main .post-article aside {
    max-width: 767px; }
    main .post-article aside .aside-info1 {
      max-width: 767px;
      padding: 32px; }
    main .post-article aside .aside-map {
      max-width: 767px;
      height: 300px; }
    main .post-article aside .aside-info2 {
      max-width: 767px;
      padding: 32px; }
      main .post-article aside .aside-info2 .aside-button {
        max-width: 244px;
        min-width: 120px; }

  .boxes-articles .boxes {
    max-width: 767px; }
    .boxes-articles .boxes .col-lg-3 {
      min-width: 250px; }
    .boxes-articles .boxes .col3-inside .news1-box-description {
      padding: 10px 20px; }
      .boxes-articles .boxes .col3-inside .news1-box-description .news-date {
        font-size: 16px;
        line-height: 21px; }
      .boxes-articles .boxes .col3-inside .news1-box-description .news-topic {
        font-size: 20px;
        line-height: 21px; }
    .boxes-articles .boxes .col3-inside .news2-box-description {
      padding: 10px 25px; }
      .boxes-articles .boxes .col3-inside .news2-box-description .news-search {
        font-size: 22px; }

  .slider-logos {
    padding-top: 15px;
    padding-bottom: 15px; }

  .slidelist {
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 0px; }

  footer {
    font-size: 14px; }
    footer .footer-bocks .foot-3 {
      padding-left: 0px; }
      footer .footer-bocks .foot-3 h6 {
        padding-top: 25px; } }
@media screen and (max-width: 575px) {
  .socialmedia-box {
    top: 100px;
    height: 60px;
    width: 110px;
    border-radius: 0px 0 0 20px;
    flex-direction: row;
    z-index: 100; }

  main {
    margin-top: 140px;
    padding: 0 5px; }

  .boxes-articles {
    display: flex; }
    .boxes-articles .boxes {
      flex-direction: column; }
      .boxes-articles .boxes .boxes-topic {
        text-align: center; }
      .boxes-articles .boxes .col3-inside {
        max-width: 304px; }
        .boxes-articles .boxes .col3-inside .box-news1-img {
          max-width: 304px;
          max-height: 304px;
          width: 100%; }
        .boxes-articles .boxes .col3-inside .news1-box-description {
          width: 100%;
          max-width: 304px; }
          .boxes-articles .boxes .col3-inside .news1-box-description .news-date {
            font-size: 18px;
            line-height: 23px; }
          .boxes-articles .boxes .col3-inside .news1-box-description .news-topic {
            font-size: 24px;
            line-height: 24px; }
          .boxes-articles .boxes .col3-inside .news1-box-description .news-hidden {
            max-width: 304px; }
          .boxes-articles .boxes .col3-inside .news1-box-description .news-hidden2 {
            max-width: 304px; }

  footer {
    font-size: 16px; }
    footer .footer-bocks .foot-1 {
      margin-bottom: 20px; }
    footer .footer-bocks .foot-2 {
      margin-bottom: 20px; }
    footer .footer-bocks .foot-3 {
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 15px;
      margin-bottom: 20px; }
      footer .footer-bocks .foot-3 h6 {
        padding-top: 25px;
        font-size: 14px; } }

/*# sourceMappingURL=style.css.map */
