@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext');

$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;

$yellow: #FFDA1A;
$blue: #4990E2;
$dark-blue: #2D5898;
$black: #000000;
$white: #ffffff;

*{
    box-sizing: border-box;
    font-family: $lato;
}

body{
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;        
    position: relative;
    top: 0;
    }

a{
    text-decoration: none;
    padding: 0px;
    }

a:focus{  
    outline: none;
}

li{
    list-style: none;       
}

//-- ----- MENU ----- --

header{
    background: $white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
    height: 100px;
    padding: 0;
    margin: 0;    
    position: fixed;
    top: 0;
    z-index: 100;
    background: $white;

    nav{
        margin: 0 auto;
        height: 100px;
        max-width: 1440px;        
        padding: 17px 50px;                        
            
        .navbar-collapse{            
            height: 100px;
            line-height: 100px;                        
            background: $white;
            
            ul{     
                width: 100%;
                height: 100px;
                line-height: 100px;                  
                justify-content: flex-end;                
                padding-right: 45px;
                
                .nav-link{
                    padding: 0;                    
                }
                               
                li{
                    height: 100px;
                    line-height: 100px;            
                    font-family: $lato;
                    font-weight: bold;
                    font-size: 14px;
                    color: $dark-blue;
                    letter-spacing: 0.5px;                    
                    padding: 0 10px;;
                    margin: 0;              
                    transition: 0.3s;
                    &:hover{
                        background: $yellow;
                        transition: 0.3s;
                    }
                }
            }
            
            .navbar-text{
                height: 100px;                
                padding: 0;
                transition: 0.4s;
                &:hover{ 
                    color: $blue;
                    transform: rotate(360deg);
                    transition: 0.4s;
                    cursor: grab;
                }
                
                i{
                    font-weight: bold;
                    line-height: 100px;                        
                    font-size: 15.5px;
                    color: $dark-blue;                                        
                }
            }
        }        
    }    
}

//-- ----- BOX SOCIAL MEDIA  ----- --

.socialmedia-box{
    position: fixed;
    right: 0;
    top: 130px;
    background: $dark-blue;
    height: 110px;
    width: 60px;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    
    .socialmedia-box-fb,
    .socialmedia-box-instagram{
        width: 40px;
        height: 40px;
        background: $white;
        border-radius: 50%;
        transition: 0.3s;
        border: 2px solid $dark-blue;
        &:hover{            
            background: $dark-blue;
            border: 2px solid $white;
            transition: 0.3s;
            box-sizing: border-box;
        }
        
        i{
            font-size: 28px;
            color: $dark-blue;
            line-height: 36px;
            display: flex;            
            justify-content: center;
            align-content: center;            
            transition: 0.3s;
            &:hover{
                color: $white;            
                transition: 0.3s;
            }
        }            
    }        
}

//-- ----- GŁÓWNA TREŚĆ + PRAWY BOX  ----- --

main{    
    margin: 0 auto;
    width: 100%;
    margin-top: 100px;
    max-width: 1400px; 
    display: flex;
    flex-direction: column;    
    padding: 0 15px;    
    
    .post-menu{        
        padding: 0;       
        color: #9B9B9B;
       
        ul{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;            
            padding: 30px 15px 5px 15px;
            margin: 0;
            
            a{
                color: #9B9B9B;            
                &:hover{
                    color: $dark-blue;
                    text-decoration: none;
                }
            }
            
            li{
                font-family: $roboto;
                font-size: 14px;                
                letter-spacing: 0.5px;
                padding-right: 5px;
                line-height: 16px;
            }
        }    
    }
    
    h1{
        font-family: $lato;
        font-weight: bold;
        font-size: 40px;
        color: $blue;
        letter-spacing: 1.43px;
        padding: 0;
        padding-bottom: 20px;
    }
    
    .post-article{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;        
        
        .two-block{
            display: flex;            
            justify-content: space-between;
            width: 100%;
        }
        
        article{
            width: 100%;
            
            .post-img{                
                max-width: 962px;
                width: 100%;
                background-size: cover;
                margin-bottom: 30px;
                height: 400px;
                background-image: url(../img/foto1.jpg);
                
                img{
                    max-width: 962px;
                    width: 100%;
                    height: 400px;
                    font-family: 'object-fit: contain;'
                }
            }
            
            .post-description{
                max-width: 962px;                
                font-family: $lato;
                font-size: 16px;
                color: $black;
                letter-spacing: 0.57px;
                line-height: 22px;
                text-align: justify;
                
                .font-bold{
                    font-weight: bold;
                }
            }
        }  
        
        aside{
            width: 100%;
            max-width: 304px;
                        
            .aside-info1{
                width: 100%;
                max-width: 304px;
                border: 4px solid #DDDDDD;
                border-bottom: none;
                box-sizing: border-box;
                padding: 32px;
            }
            
            h3{
                font-family: $lato;
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
                color: $black;
                letter-spacing: 0.57px;
                padding-bottom: 25px;
                margin: 0;
            }
            
            h4{
                font-family: $lato;
                font-weight: bold;
                font-size: 16px;
                color: #030303;
                letter-spacing: 0;
                line-height: 22px;                
                margin: 0;
            }
            
            p{
                font-family: $lato;                
                font-size: 16px;
                color: #030303;
                letter-spacing: 0;
                line-height: 22px;                
                margin: 0;
            }
            
            .aside-map{
                width: 100%;
                max-width: 304px;
                height: 169px;
                padding: 0;
                border: 0;
            }
        
            .aside-info2{
                width: 100%;
                max-width: 304px;
                border: 4px solid #DDDDDD;
                border-top: none;
                box-sizing: border-box;
                padding: 32px;                
                
                .aside-button{
                    margin: 0 auto;
                    width: 244px;
                    height: 40px;
                    background: $yellow;
                    border-radius: 100px;
                    font-family: $lato;
                    font-weight: bold;
                    font-size: 14px;
                    color: $dark-blue;
                    margin-bottom: 25px;
                    letter-spacing: 0.5px;
                    line-height: 17px;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    border: none;
                    transition: 0.3s;
                    &:hover{
                        color: $yellow;
                        background: $dark-blue;  
                        transition: 0.3s;
                    }
                }
                
                .aside-info2-sm{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    
                    .box-sm{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        border: 2px solid $dark-blue;
                        box-sizing: border-box;
                        background: $dark-blue;
                        margin: 5px;                        
                        &:hover{                            
                            background: $white;
                            color: $dark-blue;
                        }
                        
                        i{              
                            display: flex;
                            justify-content: center;
                            width: 26px;                            
                            color: $white;
                            font-size: 16px;
                            line-height: 26px;                            
                            &:hover{
                                color: $dark-blue;
                            }                            
                        }
                    }
                }
            }
        }
    }    
}

//-- ----- BOXY Z DODATKOWYMI ARTYKUŁAMI  ----- --


.boxes-articles{
    
    .boxes{
        max-width: 1400px;        
        margin: 0 auto;
//        background: pink;   
        padding-bottom: 70px;
     
        .boxes-topic{
            width: 100%;
            font-family: $lato;
            font-weight: 100;
            font-size: 40px;
            color: $blue;
            letter-spacing: 1.43px;
            line-height: 48px;
            padding-top: 75px;
            padding-bottom: 30px;
        }
        
        .col3-inside{
            max-width: 304px;
            width: 100%;
            position: relative;
            top: 0;     
            &:hover{
                .news2-box-description{                             
                    background-color: rgba(45,88,152, 0.8);
                    transition: 0.3s;    
                    
                    img{
                        filter: invert(0);
                        transition: 0.3s;
                        transform: rotate(360deg);
                    }
                    
                    .news-search{    
                        color: $white;    
                        transition: 0.3s;
                    }
                }    
            }
            
            .box-news1-img{
                max-width: 304px;
                max-height: 304px;
                width: 100%;
            }
            
            .news1-box-description{
                width: 100%;
                max-width: 304px;
                position: absolute;
                bottom: 0;
                padding: 15px 30px;
            background-image: -webkit-linear-gradient(rgba(45,88,152,0.00) 0%, rgba(45,88,152,0.8) 38%);
            background-image: -o-linear-gradient(rgba(45,88,152,0.00) 0%, rgba(45,88,152,0.8) 38%);
            background-image: linear-gradient(rgba(45,88,152,0.00) 0%, rgba(45,88,152,0.8) 38%);                
            max-height: 100%;
                                
                .news-date{
                    opacity: 0.8;
                    font-family: $lato;
                    font-size: 18px;
                    color: $white;
                    letter-spacing: 0;
                    line-height: 23px;
                }
                
                .news-topic{
                    font-family: $lato;
                    font-weight: bold;
                    font-size: 24px;
                    color: $white;
                    letter-spacing: 0;
                    line-height: 23px;
                }
                
                .news-hidden{
                    transition: 0.3s;    
//                    opacity: 0;
                    margin: 0;
                    display: none;
//                    line-height: 0px;
                    font-size: 14px;
                    color: rgba(255, 255, 255, 1);
                    letter-spacing: 0; 
                }
                                            
                .icons{                        
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    
                    .single-icon{
                        width: 100%;
                    
                        object{    
                        float: left;
                        padding-right: 5px;
                        display: inline-block;
                        }

//                        object:nth-child(3){    
//                            padding-right: 5px;
//                            padding-left: 20px;    
//                        }

                        .news-icon {
                            font-size: 14px;
                            color: $yellow;
                            letter-spacing: 0;
                            line-height: 17px;
                            margin: 0;    
                            float: left;
                            display: inline-block;
                        }

                        .news-icon2 {
                            font-size: 14px;
                            color: $yellow;
                            letter-spacing: 0;
                            line-height: 17px;
                            margin: 0;    
                        }
                        
                    }
                    
                }
                
                .news-hidden2{    
                    transition: 0.15s;    
                    display: none;
//                    opacity: 0;
                    margin: 0;    
                    line-height: 0px;
                    font-size: 14px;    
                    letter-spacing: 0;    
                    padding: 0;    
//                    max-height: 0px;
                    
                    .single-icon2{
                        width: 100%;
                        padding-top: 10px;

                        object {
                            transition: 0.4s;        
                            margin: 0;
                            padding: 0;
                            padding-right: 5px;    
                             display: inline-block;
                        }

                        .news-icon3 {
                            font-size: 14px;
                            color: $yellow;
                            letter-spacing: 0;
                            line-height: 17px;    
                            transition: 0.4s;   
                            margin: 0;
                            padding: 0;    
                             display: inline-block;
                        }

                        button{
                            float: right;
                            display: inline-block;
                            width: 100px;
                            height: 30px;
                            background-color: $yellow;
                            border: none;
                            border-radius: 100px;
                            font-size: 12px;
                            color: $blue;
                            letter-spacing: 0;
    //                        opacity: 0; 
                            transition: 0.4s;
    //                        margin: -50px 0;
                            padding: 0;
                            border: 1px solid $yellow;
                            text-decoration: none;
                            &:hover{                  
                                border: 1px solid $blue;
                                background: $blue;                                
                                a{                                
                                text-decoration: none;
                                    color: $yellow;                                
                                }                             
                            } 
                        }
                    }
                }
            } 
            
            .news2-box-description{        
                position: absolute;
                top: 0;        
                padding: 10px 30px;
                width: 100%;    
                height: 100%;    
//                background-color: rgba(45,88,152, 0.8);
                background-color:  rgba(255, 218, 26, .85);
                transition: 0.3s; 
                max-height: 100%;
                
                img{
                    margin-top: 20%;
                    margin-bottom: 10px;
                    filter: invert(0.7);                    
                    transition: 0.3s;
                }
                
                .news-search{    
                    width: 80%;
                    font-weight: bold;
                    font-size: 24px;
                    color: $dark-blue;
                    letter-spacing: 0;
                    transition: 0.3s;
                }
            }

        }    
    }
}


//-- ----- PASEK Z LOGOTYPAMI  ----- --

.slider-logos{    
    width: 100%;
    padding-top: 45px;
    padding-bottom: 45px;
    margin: 0 auto;    
    display: flex;
    justify-content: center;    
    position: relative;
    top: 0;    
    
    .gray-line{
        position: absolute;
        top: 0;
        width: 100%;
        height: 1px;
    }
    
    .logos{
        width: 100%;
        max-width: 1440px;
    }
}

//-- ----- STOPKA  ----- --

footer{
    margin: 0 auto;
    background: $black;
    font-family: $lato;
    font-size: 14px;
    color: $white;
    letter-spacing: 0.5px;
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 50px;
    
    .footer-bocks{
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;            
        
        .foot-1{
            
            ul{
                padding: 0;
            }
            
            a{
                color: $white;
                transition: 0.3s;
                &:hover{
                    color: $yellow;
                    text-decoration: none;
                    transition: 0.3s;
                }
            }
            
            i{
                font-weight: bold;                
                transition: 0.3s;
                &:hover{
                    transition: 0.3s;
                    color: $yellow;
                    transform: rotate(360deg);                    
                }   
            }
        }
        
        .foot-2{
            
            ul{
                padding: 0;                
                
                li{
                    
                    .box-for-icon{
                        display: inline-block;
                        width: 20px;                                                
                        text-align: center;
                    }

                    i{
                        
                        color: $yellow;
                    }
                    
                    a{
                        color: $white;
                        transition: 0.3s;
                        &:hover{
                            text-decoration: none;
                            color: $yellow;
                            transition: 0.3s;
                        }
                    }                    
                }
            }
        }
        
        .foot-3{            
            display: flex;
            justify-content: flex-start;            
            align-items: center;
            flex-direction: column;
            padding-left: 50px;
            
            ul{
                padding: 0;
                
                a{
                    color: $yellow;
                    text-decoration: none;
                }
            }
            
            h6{
                padding-top: 85px;
                font-family: $lato;
                font-size: 14px;
                color: #9B9B9B;
                letter-spacing: 0.5px;
                line-height: 17px;
            }
            
        }
    }    
}
