@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext');

$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;

$yellow: #FFDA1A;
$blue: #4990E2;
$dark-blue: #2D5898;
$black: #000000;
$white: #ffffff;

*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;        
    position: relative;
    top: 0;
    }

a{
    text-decoration: none;
    padding: 0px;
    }

a:focus{  
    outline: none;
}

li{
    list-style: none;       
}

//-- ----- MENU ----- --

header{
    background: $white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
    height: 100px;
    padding: 0;
    margin: 0;    
    position: fixed;
    top: 0;
    z-index: 100;
    background: $white;

    nav{
        margin: 0 auto;
        height: 100px;
        max-width: 1440px;        
        padding: 17px 50px;                        
            
        .navbar-collapse{            
            height: 100px;
            line-height: 100px;                        
            background: $white;
            
            ul{     
                width: 100%;
                height: 100px;
                line-height: 100px;                  
                justify-content: flex-end;                
                padding-right: 45px;
                
                .nav-link{
                    padding: 0;                    
                }
                               
                li{
                    height: 100px;
                    line-height: 100px;            
                    font-family: $lato;
                    font-weight: bold;
                    font-size: 14px;
                    color: $dark-blue;
                    letter-spacing: 0.5px;                    
                    padding: 0 10px;;
                    margin: 0;              
                    transition: 0.3s;
                    &:hover{
                        background: $yellow;
                        transition: 0.3s;
                    }
                }
            }
            
            .navbar-text{
                height: 100px;                
                padding: 0;
                transition: 0.4s;
                &:hover{ 
                    color: $blue;
                    transform: rotate(360deg);
                    transition: 0.4s;
                    cursor: grab;
                }
                
                i{
                    line-height: 100px;                        
                    font-size: 15.5px;
                    color: $dark-blue;                                        
                }
            }
        }        
    }    
}

//-- ----- BOX SOCIAL MEDIA  ----- --

.socialmedia-box{
    position: absolute;
    right: 0;
    top: 130px;
    background: $dark-blue;
    height: 110px;
    width: 60px;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    .socialmedia-box-fb,
    .socialmedia-box-instagram{
        width: 40px;
        height: 40px;
        background: $white;
        border-radius: 50%;
        transition: 0.3s;
        border: 2px solid $dark-blue;
        &:hover{            
            background: $dark-blue;
            border: 2px solid $white;
            transition: 0.3s;
            box-sizing: border-box;
        }
        
        i{
            font-size: 28px;
            color: $dark-blue;
            line-height: 36px;
            display: flex;            
            justify-content: center;
            align-content: center;            
            transition: 0.3s;
            &:hover{
                color: $white;            
                transition: 0.3s;
            }
        }            
    }        
}

//-- ----- GŁÓWNA TREŚĆ + PRAWY BOX  ----- --

main{    
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1440px; 
    
    .post-menu{        
        padding: 0;       
        color: #9B9B9B;
       
        ul{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;            
            padding: 30px 15px;
            
            a{
                color: #9B9B9B;            
                &:hover{
                    color: $dark-blue;
                    text-decoration: none;
                }
            }
            
            li{
                font-family: $roboto;
                font-size: 14px;                
                letter-spacing: 0.5px;
                padding-right: 5px;
                line-height: 16px;
            }
        }    
    }
    
    h1{
        font-family: $lato;
        font-weight: bold;
        font-size: 40px;
        color: $blue;
        letter-spacing: 1.43px;
        padding: 0;
    }
    
    .post-article{
        margin: 0 auto;
        
        article{
            max-width: 962px;
            
            .post-img{
                max-width: 932px;
                
                img{
                    width: 932px;
                    height: 400px;
                }
            }
        }
        
        
    }
    
}